
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Kullanıcıların yalnızca kendi bilgilerini okumasına ve güncellemesine izin ver.
    // Yeni kullanıcıların kayıt olmasına izin ver.
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }
  }
}
